h4 {
    color:white;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
}

div.column p {
    font-size: 16px;
}

div.column p, i {
    color: white;
}

i {
    width: 15%;
}

.column {
    float:left;
    width: 25%;
    height: 150px;
    text-align: center;
    background-color: rgb(216, 92, 21);
    padding-top: 20px;
}

.last-column {
    margin: 32px;
}

.row:after {
    content:none;
    display: table;
    clear: both;
}


@media only screen and (max-width: 768px) {

    div.column {
       width: 100%;
       height: 100px;
       font-size: 16px;
    }

    i {
        width: 10%;
    }
}

@media only screen and (max-width: 600px) {

    .column {
       width: 100%;
       height: 80px;
       font-size: 16px;
    }
    
    i {
        width: 5%;
    }
}

@media only screen and (max-width: 480px) {

    .column {
       width: 100%;
       height: 80px;
       font-size: 14px;
    }
    
    i {
        width: 8%;
    }
}
